/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body */
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f4f6f8;
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Heading */
h1 {
    margin-bottom: 20px;
    color: #333;
}

/* Form Container */
form {
    background-color: white;
    padding: 30px;
    border-radius: 12px;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 18px;

    box-shadow: 0px 4px 12px rgba(0,0,0,0.08);
}

/* Form Groups */
form div {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Labels */
label {
    font-size: 14px;
    color: #444;
}

/* Inputs + textarea */
input,
textarea {
    padding: 10px 12px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
    transition: 0.2s;
}

/* Focus effect */
input:focus,
textarea:focus {
    border-color: #4CAF50;
}

/* Button */
button {
    margin-top: 10px;
    padding: 10px;
    border: none;
    border-radius: 8px;

    background-color: #4CAF50;
    color: white;
    font-size: 15px;
    cursor: pointer;
    transition: 0.3s;
}

/* Button hover */
button:hover {
    background-color: #45a049;
}
